*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    font-family:'TajawalL', sans-serif;
}
*::selection{
    color:red;
    background-color: black;
}

html{
    scroll-behavior: smooth;
}
.red{
    color:red;
}

.bold{
    font-weight: bold;
}

section.content{
    padding-top:10vh;
    min-height:100vh;
}