#about{
    background-color: #6A7FDB;
    text-align:center; 
    h2{
        padding:15px;
    }
    img{
        max-width:400px;
        border-radius:50%;
    }
    p{
        padding-top:7%;
        font-size:1.2rem;
    }
}