#portfolio{
    div.cont{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    
        div.project{
            width:27%; 
            height:auto;
            background-color: #2D2D2D;
            margin:2%;
            position:relative;
            overflow: hidden;
            .desc{
                opacity:0;
                position:absolute; 
                z-index:2;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                transition: opacity 1s;
                button{
                    display:block;
                    padding:10px; 
                    background: none!important;
                    border:1px solid white;
                }
            }
            
            img{
                width:100%;
                max-width:100%; 
                height:100%; 
                transition: all 1s;
                z-index:1;
            }
            &:hover{
                img{
                    transform: rotate(-30deg) scale(2.0);
                }
                .desc{
                    opacity:1;
                    button{
                        cursor:pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px){
    #portfolio{
        div.cont{
            display:flex;
            flex-direction: column;
            //justify-content: center;
            //flex-wrap: wrap;
        
            div.project{
                width:100%;
            }
        }
    }
} 